body{
    background-color: lightgray;
}
body.subpage{
    background-color:  gray;
}
h1{
 color: darkred;
 font-style: oblique ;
}
h1, h3{
 font-style: italic;
 font-style: oblique ;
}
header p{
 font-family: "courier new";
 color:  darkgoldenrod;
}
.fancy{
 font-family: Times;
}
header.fancy{
 color: darkorange;
}

}
#container{
    padding:  5px;
    display: grid;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    grid-template-areas:
    'mid'
    'low'
    'low1'
    'lowest';
}

#toppest{
    display: grid;
    grid-column-gap: 5px;
    grid-template-areas: 
    'pic text text text';
    background-image: url("../img/ToppestBack.jpg");
    background-size: cover;
    padding:  20px;
}
#categoria{
    display: grid;
    grid-template-areas: 
    'top'
    'bot';

}

#formu{
    display: grid;
    grid-column-gap: px;
    grid-template-areas: 
    'top top top top top top'
    'fleft fright fright fright fright fright';
    background-color: #999999;
    background-size: cover;
}
#contenidor{
 display: grid;
 grid-column-gap: 5px;
 grid-row-gap: 5px;
 grid-template-areas:
      'image descript'
}
.textdescr{
   font-size: 40px;
   width: 30%;
}