/* General */
body{
    background-color: lightgray;
}
h1,h2,h3{
    color: orangered;
}


#toppest{
    display: grid;
    grid-column-gap: 5px;
    grid-template-areas: 
    'pic text text text';
    background-image: url("../img/ToppestBack.jpg");
    background-size: cover;
    padding:  20px;
}

#toppest p{
    color: darkred;
}


/* Portada */
#container{
    padding:  5px;
    display: grid;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    grid-template-areas:
    'top'
    'mid'
    'low'
    'low1'
    'lowest';
}

/*Registro y Login*/

#RegLog{
    padding:  25px;
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 50px;
    grid-template-areas:
    'left right'
    'lowest lowest';
}


